<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= current_user.email %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,multipart: true  }) do |f| %>
  <h2>
    <%= devise_error_messages! %>
  </h2>

  <div class="field">
    <%= f.label :nick_name %><br />
    <%= f.text_field :nick_name, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <%= f.file_field :avatar %>
  <div class="btn btn-default btn-xlg">
    <%= f.submit "更新"  %>
  </div>
<% end %>


<p>不开心? <%= button_to "不玩了,删账号", registration_path(resource_name), data: { confirm: "你确定要永久删除帐号,删除之后资料永久丢失?" }, method: :delete , class:"btn btn-default btn-xlg"%></p>

<%= link_to "返回", :back %>
