= form_for @event_time do |f|
  - if @event_time.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event_time.errors.count, "error")} prohibited this event_time from being saved:"
      %ul
        - @event_time.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :event_type
    = select_tag :event_type, options_for_select( EventType.all.map{|l| [l.type_name, l.id] } )
  .field
    = f.label :begin_time, class:"datetime"
    = f.time_select :begin_time
  .field
    = f.label :end_time
    = f.time_select :end_time

  .actions
    = f.submit 'Save'
