= form_for @micropost,class:"form-horizontal" do |f|
  - if @micropost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@micropost.errors.count, "error")} prohibited this micropost from being saved:"
      %ul
        - @micropost.errors.full_messages.each do |msg|
          %li= msg

  .field
    -#= f.label :content
    = f.text_area :content, rows:"5"
 
  .actions
    = f.submit 'Save', class:"btn btn-primary btn-large"
