-#%table.table.table-hover
-#  %thead
-#    %tr
-#      %th 内容
-#      %th 时间
-#      %th
-#      %th
-#      %th
-#
-#  %tbody
-#    - @microposts.each do |micropost|
-#      %tr
-#        %td= micropost.content
-#        %td= micropost.time
-#        %td= link_to 'Show', micropost
-#        %td= link_to 'Edit', edit_micropost_path(micropost)
-#        %td= link_to 'Destroy', micropost, :method => :delete, :data => { :confirm => 'Are you sure?' }
= stylesheet_link_tag("twitter_core.bundle.css")
= stylesheet_link_tag("twitter_more_1.bundle.css")
= stylesheet_link_tag("twitter_more_2.bundle.css")
= stylesheet_link_tag("twitter_profile_editing.bundle.css")

=# link_to '新建微博', new_micropost_path
= form_for :micropost,class:"form-horizontal" do |f|
  .row
    .col-xs-11.col-sm-10.col-md-9
      .field
        -#= f.label :content
        = f.text_area :content, rows:"3", class:"col-xs-11 col-sm-10 col-md-9"
    .col-xs-1.col-sm-2.col-md-3
      .actions
        = f.submit '发送', class:"btn btn-primary btn-large"

%br
.stream
  %ol.stream-items.js-navigable-stream
  = paginate @microposts
  - @microposts.each do |micropost|
    %li.js-stream-item.stream-item.stream-item.expanding-stream-item{:id => "#{micropost.id}"}
      .content
        .stream-item-header
        .js-tweet-text-container
          .row
            .col-xs-11.col-sm-10.col-md-9
              %p.TweetTextSize.js-tweet-text.tweet-text= micropost.content
            .col-xs-1.col-sm-2.col-md-3
              = micropost.user.nick_name
              = micropost.user.email
          
        .card2.js-media-container
        .stream-item-footer


