= form_for :shanbay_words, url:shanbay_path,class:"form-horizontal" do |f|
  .row
    .col-xs-8.col-sm-7.col-md-6
      .field
        = f.text_field :word, class:"form-control", placeholder:"search"

    .col-xs-1.col-sm-2.col-md-3
      .actions
        = f.submit '查找', class:"btn btn-primary btn-default"

- unless @shanbay.nil?
  .row
    .col-xs-1.col-sm-2.col-md-3
      .word= @shanbay.content
    .col-xs-1.col-sm-2.col-md-3
      %em.pron= raw ("["+@shanbay.pronunciation+"]")
    .col-xs-1.col-sm-2.col-md-3
      = link_to "uk", @shanbay.uk_audio
      = link_to "us", @shanbay.us_audio
  <br/>
  %p= raw @shanbay.definition.gsub( /\n/ , "<br/>")
  %p= @shanbay.en_definition[:defn]
  -#%p= @shanbay.cn_definition
  
  -#%p= @shanbay.num_sense
  -#%p= @shanbay.content_type
  -#%p= @shanbay.pron
  -#%p= @shanbay.audio
  -#%p= @shanbay.word_id
