
- if @show_search.present?
  = form_for :shanbay_words, url:shanbay_search_path,class:"form-horizontal", method: :get do |f|
    .row
      .col-xs-8.col-sm-7.col-md-6
        .field
          = f.text_field :word, class:"form-control", placeholder:"search"

      .col-xs-1.col-sm-2.col-md-3
        .actions
          = f.submit '查找', class:"btn btn-primary btn-default"

- unless @shanbay.nil?
  .row
    .col-xs-1.col-sm-2.col-md-3
      .word= @shanbay.content
    .col-xs-1.col-sm-2.col-md-3
      %em.pron= raw ("["+@shanbay.pronunciation+"]")
    .col-xs-1.col-sm-2.col-md-3
      -#= audio_tag @shanbay.uk_audio, id: "uk"
      = audio_tag @shanbay.us_audio, id: "us"
      
      -#.btn#uk_play
        = fa_icon "play", text: "uk"
      .btn#us_play
        = fa_icon "play", text: "us"
  <br/>
  - if @collins.present?
    -#- temp_frequency = @collins.first.try(:frequency) || 0
    - temp_frequency = @word.frequency
    %p{class: "collins_frequency_#{temp_frequency}"}= "★"* temp_frequency#, class: "collins_frequency_#{temp_frequency}"
  -#%p= @suggests.to_s
  .well
    %b= raw @shanbay.definition.gsub( /\n/ , "<br/>")
    -#%p @shanbay.en_definition[:defn]
    %p= raw( links_sentence(@shanbay.en_definition[:defn]))
  .well
    - if @collins.present?
      - @collins.each do |collin|
        %b= collin.cn
        %space
        %space
        -#%i= collin.sentence
        - if collin.sentence.present?
          %p= raw(links_sentence(collin.sentence))
        -#%br
  .well
    - if @thesaurus.present?
      %b thesaurus
      - @thesaurus.each do |noun, list_list|
        %p= noun
        - list_list.each_with_index do |list, index|
          %b= index + 1
          - list.each do |th|
            - cn = word_cn(th) || "未知单词" 
            = link_to th, "/shanbay_search/?" + {word: th}.to_param, word: th, method: :get, class: "collins_frequency_#{word_frequency(th)} my-tooltip-link tooltip-info", "data-rel"=>"tooltip", "data-original-title"=>cn, title: cn
            %space 
            -#&nbsp;
          %br
        %br
    
  -#%p= @shanbay.cn_definition
  
  -#%p= @shanbay.num_sense
  -#%p= @shanbay.content_type
  -#%p= @shanbay.pron
  -#%p= @shanbay.audio
  -#%p= @shanbay.word_id
- else
  - if @suggests.present?
    %p 您是不是要查找:
    - @suggests.each do |suggest|
      = link_to suggest, "/shanbay_search/?" + {word: suggest}.to_param, word: suggest, method: :get
    -#%a= suggest

:javascript
  $(function(){
    $('#uk_play').on('click', function() {
      $('#uk').get(0).play();
    });

    $('#us_play').on('click', function() {
      $('#us').get(0).play();
    });

    $('.my-tooltip-link').tooltip();
    /*
    $('.my-tooltip-link').tooltip({
      placement:"top",
      html:true,
      template: '<div class="tooltip tooltip-info"><div class="tooltip-arrow"></div><div style="background:#337ab7"><div class="tooltip-inner"></div></div></div>'
    });*/

  });

