<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<header class="navbar navbar-fixed-top navbar-inverse .navbar-static-top">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   static_pages_help_path %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
            <b class="caret"></b>
          </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

              
            <% if user_signed_in? %>
                <%#= image_tag current_user.avatar.url(:thumb), class:"img-circle" %>
                <li><%= link_to "用户信息", edit_user_registration_path,tabindex:"-1"  %></li>
                <li><%= link_to "退出登录", destroy_user_session_path, :method => :delete  %></li>

            <% else %>
                <li><%= link_to "注册", new_user_registration_path ,tabindex:"-1" %></li>
                <li><%= link_to "登录", new_user_session_path ,tabindex:"-1"%></li>

            <% end %>
            </ul>
          </li>

    </nav>

  </div>
</header>