<!DOCTYPE html>
<html>
<head>
  <title>Thought</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>

<%= render 'layouts/header' %>
<div class="container center-block">
  <!--<a class="twitter-timeline"  href="https://twitter.com/Ji_Yuhang" data-widget-id="727007335231549444">@Ji_Yuhang的推文</a>-->
  <!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
  <% flash.each do |name, msg| %>
    <%= content_tag :div, class: "alert alert-#{ name.to_s == "error" ? "danger" : "success" } alert-dismissable", role: "alert" do %>
      <button class="close" type="button" data-dismiss="alert"/>
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
      <%= msg %>
    <% end %> 
  <% end %> 
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
<script type="text/javascript">
  document.onready=function(){

    MessageBus.start();
    MessageBus.callbackInterval = 100;
    MessageBus.alwaysLongPoll = true;
    MessageBus.subscribe("/channel/supermemo", function(data){
      //console.log(data);
      //console.log("receive", data);
      if(data != null){
        if(data.type == "supermemo"){
          console.log("receive", data);
          window.location.href='/shanbay_search?word='+data.word
        
        }else if(data.type == "settle"){
          $.gritter.add({
            title: data.title,
            text: data.title,
            class_name: 'gritter-success gritter-light'
          });
          $("#jplayererror").jPlayer('stop');
          $("#jplayer").jPlayer('play');
        }else if(data.type == "settle_error"){
          $.gritter.add({
            title: data.title,
            text: data.title,
            class_name: 'gritter-error'
          });

          //$.gritter.add({
          //title: '您有一条新的订单!',
          // text: '订单号码：<a href="#/orders/' + data.order_id + '?tab=all">' + data.orderno + '</a>',
          //class_name: 'gritter-success gritter-light'
          //});

          $("#jplayer").jPlayer('stop');
          $("#jplayererror").jPlayer('play');
        }
      }else{
        //$("#jplayer").jPlayer('stop');
        //$("#jplayererror").jPlayer('stop');
        //getOrderCount();
      }});
  function selectText(){
    if(document.selection){
      return document.selection.createRange().text;// IE
    }else{
      return  window.getSelection().toString(); //标准
    }
  }

  document.ondblclick=function (e) {
    var str = selectText();
//    alert(str);

    var l = event.clientX;
    var t = event.clientY;
    if(str.length > 0){
//      $this.next("div").html(str).css({"top":t+10,"left":l+10}).delay(value.delays).fadeIn();
    }
//    window.location = "/shanbay/?word="+str;
  }
  };
</script>

</body>

</html>
